/* (c) Thomas Prechelmacher, 2020 */

@import "constants.css";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   General styles for default HTML Tags
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  font-family: "DejaVu Sans", sans-serif;
}

body {
  max-width: 40rem;
  margin: auto;
  padding: var(--default-padding);
}

h1, p {
  text-align: center;
}

button {
  background-color: white;
}

input {
  min-width: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Generic styles to achieve coherent styling
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.border, button, input, #derinput {
  border: var(--default-border);
  border-radius: var(--default-border-radius);
}

.inputgrid > * , div[id=word] , input#submit {
  margin:  var(--default-margin);
  padding: var(--default-padding);
}

button {
  padding: var(--default-padding);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
   Styles for custom elements
   ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.incorrect {
  background-color: var(--error-color);
}

.correct {
  background-color: var(--success-color);
}

.incorrect.correct {
  background-color: var(--warning-color); /* overwrites .incorrect and .correct */
}

#derinput {
    margin: var(--default-margin) 0rem;
}

div[id=word] {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: block;
}

.inputgrid {
  display: grid;
  grid-template-columns: 10em auto;
  width: 100%; /* Fill avaible space */
}

input#submit {
  width: 100%;
  margin: var(--default-margin) 0rem;
  font-size: 1rem;
  background-color: #ECECEC;
}

div#loadbuttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--default-margin-2x);
    width: 100%;
    margin: var(--default-margin) 0rem;
}
